*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header{
  text-align: center;
  height: 50px;
  background-color:#d76e00;

}


header .box{
  /*outline: 1px solid red;*/
  height: 30px;
  width: 10%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 10px;
  background-color: #fe8a1e;
  border-radius: 5px;
  color: white;

}

#search{
  font-size: 15px;
  margin-top: 8px;
  margin-left: 100px;
}

.trello{
  height: 30px;
  width: 10%;
  color:#80b4d3;
  float: left;
  margin-top: 10px;
margin-left: 300px;
}
.box-icons i{
  background-color: #fe8a1e;
  padding: 10px;
  color: white;
  margin-top: 10px;
}

main{
  background-color: #fe8a1e;
  height: 900px;
}

.title{
  /*outline: 1px solid red;*/
  color: white;
  font-size: 10px;
  margin-left: 50px;
}

.container{

}

#entrada{
  background-color: #d76e00;
  border: none;
  padding: 10px;
  color: white;
  margin-left: 50px;
  margin-top: 10px;
  width: 200px;
  text-align: left;
}

.enter{
  display: none;
}
.aparece{
  display: inline-block;
}
.formul{
display: none;
/*outline: 1px solid blue;*/
width: 20%;
height: 100px;
margin-left: 50px;
background-color:#994C00;
border-radius: 8px;
}

.formul input{
  margin-top: 8px;
  border-radius: 5px;
  padding: 10px;
}

.formul button{
  background-color: #d76e00;
  border: 1px solid white;
  color:white;
  padding: 7px;
  border-radius: 5px;
  margin-top: 7px;

}
