*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}
/*encabezado*/
header{
  text-align: center;
  height: 60px;
  /*color de fondo*/
  background-color:rgb(225,137,38);
  overflow: auto;
}

/*contenedor de los iconos*/
header .box{
  /*outline: 1px solid red;*/
  height: 30px;
  width: 10%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 10px;
  background-color: #eba47a;
  border-radius: 5px;
}
/*cuando se posiciona el cursor se cambia el fondo*/
.box:hover{
  background-color: #fc8000;
}
/*eliminando el subrayado*/
a{
  text-decoration: none;
}
/*icono tablero*/
.box a{
  color: white;
  font-size: 20px;
}

/*icono buscar*/
.search{
  font-size: 15px;
  margin-top: 8px;
  margin-left: 100px;
  color: white;
}

/*titulo trello*/
.trello a{
  /*outline: 1px solid red;*/
  height: 50px;
  width: 10%;
  text-decoration:none;
  color:#eba47a;
  float: left;
  margin-top: 10px;
  margin-left: 300px;
  font-size: 35px;
}
.trello a:hover{
  color:white;
}
.box-icons{
/* outline: 1px solid red;*/
  margin-left: 50px;
  width: 30%;
  float: right;
}
/*contendeor de la caja de iconos crear, información y notificaciones*/
.box-icons i{
  background-color: #eba47a;
  padding: 10px;
  color: white;
  margin-top: 10px;
  margin-left: 10px;

}
/*efecto cuando el cursor pasa sobre los iconos*/
.box-icons i:hover{
  /*fondo cambia */
  background-color:#fc8000;
}
/*imagen en el encabezado*/
img{
  height: 40px;
  width: 40px;
  margin-bottom: -15px;
}

/*cuerpo*/
main{
  background-image:url(../assets/images/fondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
/*aplicando estilo al subtitulo*/
.subtitle{
  /*outline: 1px solid red;*/
  color: white;
  font-size: 10px;
  margin-left: 50px;
  height: 50px;
  padding-top: 10px;
  font-size: 16px;
}

#container-grande{
  outline: 1px solid blue;
  height: 150px;
  width: 60%;
  background-color: red;
}


#entrada{
  background-color: #d76e00;
  border: none;
  padding: 10px;
  color: white;
  margin-left: 50px;
  margin-top: 10px;
  width: 200px;
  text-align: left;
}

.enter{
  display: none;
}
.aparece{
  display: inline-block;
}
.formul{
display: none;
/*outline: 1px solid blue;*/

}
.formul1{
  display: block;
  width: 40%;
  height: 100px;
  margin-left: 50px;
  background-color:blue;
  border-radius: 8px;
}
.formul2{
  float: right;
  width: 40%;
  height: 100px;
  background-color:#994C00;
  border-radius: 8px;
}
.formul input{
  margin-top: 8px;
  border-radius: 5px;
  padding: 10px;
}

.formul button{
  background-color: #d76e00;
  border: 1px solid white;
  color:white;
  padding: 7px;
  border-radius: 5px;
  margin-top: 7px;

}

#second{
 outline: 1px solid black;
  width: 30%;
  height: 100px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
display: none;

}

#second1{
  width: 30%;
  height: 100px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
}
.title2{

}

#btn-list{
  display: none;
}

#btn-list1{
  display: block;
background-color: red;
}
.newText{
  outline: 1px solid red;
}

#formulario{
  display: none;
}
#formulario1{
  display: block;

}
